@charset "utf-8";
/* CSS Document */
body {
	margin: 0;
	padding: 0;
	font-size: 13px;
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #FFFFFF;
	background-color: #1E1E1E;
}

.clear:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	line-height: 0;
}

.clear {
	display: block;
	width: 100%;
	clear: both;
}

html[xmlns] .clear {
	display: block;
}

* html .clear {
	height: 1%;
}

img {
	margin: 0;
	padding: 0;
	border: none;
	line-height: normal;
	vertical-align: middle;
}

.imgholder, .imgl, .imgr {
	padding: 4px;
	border: 1px solid #D6D6D6;
	text-align: center;
}

.imgl {
	float: left;
	margin: 0 15px 15px 0;
	clear: left;
}

.imgr {
	float: right;
	margin: 0 0 15px 15px;
	clear: right;
}

/*------------Header----------*/
#header, #footer {
	display: block;
	margin: 0 auto;
	width: 960px;
	margin: 0 auto;
	text-align: center;
	float: center;
}

#header, #header a {
	color: #C0BAB6;
	background-color: #333333;
}

#header #hgroup {
	float: left;
	padding: 20px;
}

#header #hgroup h1, #header #hgroup h2 {
	
}

#header #hgroup h1 {
	font-size: 16px;
}

#header #hgroup h2 {
	font-size: 13px;
}

#header nav {
	float: right;
	padding: 20px;
}

#header nav ul {
	margin-top: 20px;
}

#header nav li {
	display: inline;
	margin-right: 15px;
	text-transform: uppercase;
}

#header nav li.last {
	margin-right: 0;
}

#header nav a {
	color: #C0BAB6;
	background-color: #333333;
}

#header nav a:hover {
	color: #FF9900;
	background-color: #333333;
}

/*----------------------------------------------Footer-------------------------------------*/
#footer, #footer a {
	color: #FFFFFF;
	background-color: #1E1E1E;
}

#footer p {
	margin: 0;
	padding: 20px 0;
}

#footer .fl_left {
	float: left;
}

#footer .fl_right {
	float: right;
}

/*---------common ----------------*/
a {
	font-weight: bold;
	color: #323230;
	text-decoration: none;
	outline: none;
}

a:hover {
	text-decoration: underline;
}

a:active, a:visited {
	color: #323230;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	font-size: 20px;
	font-weight: normal;
	font-style: normal;
	line-height: normal;
}

code {
	font-weight: normal;
	font-style: normal;
	font-family: Georgia, "Times New Roman", Times, serif;
}

/*---Content Area-----------------*/
#container {
	display: block;
	margin: 0 auto;
	width: 918px;
	padding: 30px 20px;
	color: #979797;
	background-color: #FFFFFF;
	border: 1px solid #333333;
	border-top: none;
	border-bottom: none;
}

#container a {
	color: #FF9900;
	background-color: #FFFFFF;
}

/* ------Main Content-----*/
#container .movie img {
	width: 400px;
	margin: 0 0 15px 0;
	padding: 4px;
	border: 1px solid #666666;
}

#container .movie_list img {
	width: 100px;
	margin: 0 0 15px 0;
	padding: 4px;
	border: 1px solid #666666;
}

#container .movie_list {
	margin: 0 0 30px 0;
}

#container .movie_list table {
	width: 100%;
}

#container .movie {
	margin: 20px;
}

#container .reviews {
	margin: 20px;
}

#container .review_form {
	margin: 20px;
}

#container .session {
	margin: 20px;
}