<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>9321Ass2</display-name>
	<welcome-file-list>
		<welcome-file>index</welcome-file>
	</welcome-file-list>
	<servlet>
		<display-name>Index</display-name>
		<servlet-name>RequestServlet</servlet-name>
		<servlet-class>controller.RequestServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>RequestServlet</servlet-name>
		<url-pattern>/index</url-pattern>
	</servlet-mapping>
	
	

<servlet-mapping>
		<servlet-name>RequestServlet</servlet-name>
		<url-pattern>/movie_detail</url-pattern>
	</servlet-mapping>

<servlet-mapping>
		<servlet-name>RequestServlet</servlet-name>
		<url-pattern>/new_user</url-pattern>
	</servlet-mapping>


<servlet-mapping>
		<servlet-name>RequestServlet</servlet-name>
		<url-pattern>/save_session</url-pattern>
	</servlet-mapping>

<servlet-mapping>
		<servlet-name>RequestServlet</servlet-name>
		<url-pattern>/set_release_date</url-pattern>
	</servlet-mapping>
	
	
<servlet-mapping>
		<servlet-name>RequestServlet</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>RequestServlet</servlet-name>
		<url-pattern>/activate</url-pattern>
	</servlet-mapping>

<servlet-mapping>
		<servlet-name>RequestServlet</servlet-name>
		<url-pattern>/search</url-pattern>
	</servlet-mapping>
	
	
<servlet-mapping>
		<servlet-name>RequestServlet</servlet-name>
		<url-pattern>/detail</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>RequestServlet</servlet-name>
		<url-pattern>/new_booking</url-pattern>
	</servlet-mapping>
	
		<servlet-mapping>
		<servlet-name>RequestServlet</servlet-name>
		<url-pattern>/save_booking</url-pattern>
	</servlet-mapping>
	
	
	<servlet-mapping>
		<servlet-name>RequestServlet</servlet-name>
		<url-pattern>/new_cinema</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>RequestServlet</servlet-name>
		<url-pattern>/display_user</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>RequestServlet</servlet-name>
		<url-pattern>/edit_user</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>RequestServlet</servlet-name>
		<url-pattern>/edit_review</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RequestServlet</servlet-name>
		<url-pattern>/display_owner</url-pattern>
	</servlet-mapping>
	
	
	<servlet-mapping>
		<servlet-name>RequestServlet</servlet-name>
		<url-pattern>/new_movie</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>RequestServlet</servlet-name>
		<url-pattern>/save_movie</url-pattern>
	</servlet-mapping>
	
		<servlet-mapping>
		<servlet-name>RequestServlet</servlet-name>
		<url-pattern>/new_review</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>RequestServlet</servlet-name>
		<url-pattern>/save_review</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RequestServlet</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	
	
	<servlet-mapping>
		<servlet-name>RequestServlet</servlet-name>
		<url-pattern>/approve</url-pattern>
	</servlet-mapping>
	
		<servlet-mapping>
		<servlet-name>RequestServlet</servlet-name>
		<url-pattern>/decline</url-pattern>
	</servlet-mapping>
	
</web-app>